body{
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.top-header{
	background: #F97E76;
	padding: 0.7em 0;
}
.top-header-left{
	float: left;
}
ul.support{
	padding: 0 1em 0 0em;
	margin: 0;
	float: left;
}
ul.support li{
	display: inline-block;
}
ul.support li  label{
	background: url(../images/img-sprite.png)-2px -27px;
	width: 32px;
	height: 30px;
	display:inline-block;
	vertical-align: middle;
}
ul.support li.van a label{
	background-position: -46px -25px;
}
ul.support li a {
	text-decoration:none;
	font-size: 1.1em;
	color: #fff;
	
}
.top-header-right{
	float:right;
	margin: 0 1.5em 0 0;
}
/* PREFIXED CSS */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}
/* WRAPPER */
.dropdown{
	position: relative;
	width:97px;
	cursor: pointer;
	font-weight: 200;
	background:none;
	padding: 8px 0px 8px;
	color:  #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.dropdown.open{
	z-index: 2;
}
/* CARAT */
.dropdown .carat,
.dropdown .carat:after{
	position: absolute;
	right:-15px;
	top: 50%;
	margin-top: -3px;
	
	z-index: 1;
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
}
.dropdown:hover .carat:after{
	border-top-color: #f4f4f4;
}
.dropdown.focus .carat{
	border-top-color: #f8f8f8;
}
.dropdown.focus .carat:after{
	border-top-color: #0180d1;
}
.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
/* OLD SELECT (HIDDEN) */
.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}
.dropdown.touch select{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
/* SELECTED FEEDBACK ITEM */ 
.dropdown .selected,
.dropdown li{
	display: block;
	font-size: 1em;
	overflow: hidden;
	white-space: nowrap;
	font-weight: 600;
}
.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
}
.dropdown:hover .selected::after,
.dropdown.focus .selected::after{
}
/* DROP DOWN WRAPPER */
.dropdown div{
	position: absolute;
	height: 0;
	left: 25%;
	right: 0;
	top: 100%;
	background:#fb4d01;
	overflow: hidden;
	opacity: 0;
	color:#fff;
	width:90px;
}
.dropdown:hover div{
	background:#4CB1CA;
}
/* Height is adjusted by JS on open */
.dropdown.open div{
	opacity: 1;
	z-index: 2;
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.dropdown.scrollable.bottom div::after{
	opacity: 0;
}
/* DROP DOWN LIST */
.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
	padding:0;
	background:#01AFD1;
}
.dropdown.scrollable.open ul{
	overflow-y: auto;
}
/* DROP DOWN LIST ITEMS */
.dropdown li{
	list-style: none;
	padding:8px;
	border-bottom: 1px solid #fff;
}
.dropdown li:last-child {
    border-bottom: 0;
}
/* .focus class is also added on hover */
.dropdown li.focus{
	background:#F97E76;
	position: relative;
	z-index: 3;
	color: #fff;
}
.dropdown li.active{
	background:#F97E76;
	color: #fff;
}

.down-top{
	float: left;
}
.top-down{
	padding: 0 0em 0 1em;
}

/*----*/
.bottom-header {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 0.7em 0 1em;
	background: none repeat scroll 0 0 #f5f5f5;
}
.header-bottom-left{
	float: left;
	width: 55%;
}
.logo{
	float:left;
	width: 27%;
    margin-top:9px;
}
.header-bottom-right{
	float: right;
	width: 37%;
	position: relative;
}
ul.men-grid{
	padding: 0;
	margin: 0;
}
ul.men-grid li{
	display: inline-block;
	padding: 2.4em 1em 0;
}
ul.men-grid li a {
	text-decoration:none;
	font-size: 0.9em;
	color: #000;
	vertical-align: top;
}
ul.men-grid li a:hover{
	color: #01AFD1;
}
.tableau {
	width:100%;
	margin: 0 0 30px 0;
	background:none;
	border:none;
}
.tableau-titre {
	width: 100%;
	margin: 2em 2em 0 0;
	color: #323a45;
    display: block;
    font-size: 1.3em;
    font-weight: 700;
    position: relative;
    text-indent: 1em;
	text-align: left;
	background: #f5f5f5;
    border: 1px solid #ddd;
	padding: 5px;
	font-variant: small-caps;
	letter-spacing: 2px;
}
.tableau-liste {
	width: 100%;
	color: #323a45;
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    position: relative;
    text-indent: 1.2em;
	text-align: left;
    border: 1px solid #ddd;
	padding: 5px 5px 5px 5px;
}
.tableau-liste span {
	font-weight: 400;
	padding: 0 0 0 10px;
}
.tableau-liste-nbr {
	width:100px;
	padding:1px 0;
	float:left;
}
.tableau-liste-article {
	width:500px;
	padding:1px 0;
	margin-left:105px;
}
.tableau-liste-prix {
	width:125px;
	padding:1px 0;
	margin-right:25px;
	float:right;
}
.tableau-total {
	width: 100%;
	margin: 0 2em 0 0;
	color: #fff;
    display: block;
    font-size: 1.3em;
    font-weight: 700;
    position: relative;
    text-indent: 1em;
	text-align: left;
	background: #323a45;
	padding: 5px;
	font-variant: small-caps;
	letter-spacing: 2px;
	height: 40px;
}
.tableau-total-total{
	width:125px;
	padding:1px 0;
	float:left;
}
.tableau-total-prix {
	width:125px;
	margin-right:25px;
	padding:1px 0;
	float:right;
}
.sign-up-right a{
	text-decoration:none;
	font-size: 1.1em;
	color: #000;
	position: absolute;
	top: 51%;
	right: 25%;
}
ul.men-grid li.login{
	padding: 2.4em 4.5em 0 0;
	vertical-align: top;
}
.sign-up-right a:hover{
	color: #01AFD1;
}
/*----*/
.search {
	background:#fff;
	border: 1px solid #ddd;
	position: relative;
	width: 47%;
	float: right;
	margin: 1.7em 0 0;
}
.search input[type="text"] {
	border: none;
	outline: none;
	background: none;
	font-size:1em;
	color:#777;
	width:68%;
	padding:7px;
	-webkit-apperance:none;
	margin:0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
.search input[type="submit"] {
	border-left: 1px solid #ddd;
	outline: none;
	cursor: pointer;
	width: 30.6%;
	height: 35px;
	padding: 7px;
	background: none;
	border-bottom: none;
	border-top: none;
	border-right: none;
}	
.search input[type="submit"]:active {
	position:relative;
}
/*----*/
h3.cate {
	color: #fff;
	font-size: 1.5em;
	background: #323a45;
	margin: 0;
	line-height: 3.5em;
	text-indent: 1.2em;
	text-transform: uppercase;
	letter-spacing : 2px;
}
/*----*/
ul.kid-menu{
	display: block !important;
}
.menu {
	width: auto;
	height: auto;
	padding: 0;
	list-style: none;
	margin: 0;
	background: #FBFBFC;
}
ul {
	padding: 0;
	list-style: none;
}
.menu > li > a {
	width: 100%;
	line-height: 4em;
	text-indent: 1.2em;
	display: block;
	position: relative;
	color: #323a45;
	font-size: 1.5em;
	text-decoration:none;
	border-bottom: 1px solid #ddd;
	letter-spacing : 2px;
	font-weight:700;
	font-variant: small-caps;
}
.menu ul li a {
	
	width: 100%;
	display: block;
	position: relative;
	font-size:1.5em;
	color: #323a45;
	text-decoration:none;
	border-bottom: 1px solid #ddd;
	font-weight:700;
	line-height: 4em;
	letter-spacing : 2px;
	text-indent: 1.2em;
	font-variant: small-caps;
}
.menu ul li a:hover{
	background: #01AFD1;
}
.menu > li > a:hover, .menu > li > a.active {
	background:#fff;
}
.menu ul.kid-menu li a{
	border-bottom: none;
}
ul.kid-menu{
	padding: 0;
	margin: 0;	
}
ul.kid-menu li{
	list-style: none;
	border-bottom: 1px solid #ddd;
}

ul.kid-menu li.menu-kid-left{
	border-bottom:none;
}
ul.cute li{
	background: #fff;
}
.arrow-img {
	float : right;
	padding-right:18px;
	padding-top:40px;
}
/*--menu--*/
/*----*/
.sub-cate,.slide-grid,.banner-bag,.banner-off{
	float: left;
}
.top-nav{
	border: 1px solid #ddd;
}
.sub-cate{
	width: 27%;
	margin: 2em 2em 0 0;
}
.banner-off{
	width: 60%;
	padding: 6em 0em 6em 2em;
}
.banner-matter {
	padding: 4em 2em;
}
.shoes-grid{
	width: 70%;
	float: right;
}
.slide-grid{
	width: 100%;
	border: 1px solid #ddd;
	margin: 2em 0;
}
.banner-off h2{
	padding:  0em;
	margin: 0;
	font-size: 3em;
	color: #01AFD1;
	font-weight: 600;
}
.banner-off span{
	font-size: 2em;
	color:#323A45;
	font-weight: 700;
}
.banner-off span b{
	color:#66B2FF;
}
.banner-off p{
	font-size: 1em;
	color:#323A45;
	margin: 0;
	width: 90%;
	padding: 0 0 2em;
}
a.now-get{
	font-size: 1.1em;
	color:#fff;
	padding:0.6em 0.8em;
	background:#323A45;
	text-decoration: none;
}
a.ajoutpanier {
	font-size: 1.1em;
	color:#fff;
	padding:0.6em 0.8em;
	background:#323A45;
	text-decoration: none;
	float:right;
}
a.viderpanier {
	font-size: 1.1em;
	color:#323A45;
	padding:0.6em 0.8em;
	background:#f5f5f5;
	text-decoration: none;
	border: 1px solid #ddd;
	float:left;
}
a.now-get:hover{
	background: #0D3F84;
}
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
	max-height: 300px;
	width: auto;
	height: auto;
	display:block;
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	right:1%;
	bottom:0px;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
	text-indent: -9999px;
	background:#323A45;
	 height:12px;
  	width:12px;
  	border-radius: 30px;
  	-webkit-border-radius: 30px;
 	 -moz-border-radius: 30px;
  	-o-border-radius: 30px;
  	-ms-border-radius: 30px;
}
.wmuSliderPagination a.wmuActive {
	background:#989CA2;
}
.shoes-grid-left{
	float:left;
}
.con-sed-grid{
	border: 1px solid #ddd;
	padding: 1.5em 1em 2em;
	margin: 0em 31px 0 0;
	float: left;
	width: 48%;
}
.elit-grid{
	float:left;
	width: 49%;
}
.elit-grid h4{
	margin: 0;
	font-size: 1.3em;
	color: #01AFD1;
	font-weight: 700;
}
.elit-grid span{
	margin: 0;
	font-size: 1.2em;
	color: #323a45;
	font-weight: 700;
}
.elit-grid p{
	margin: 0;
	font-size: 1em;
	color: #000;
	width: 80%;
	padding: 0em 0 1.5em;
}
.shoe-left{
	float: left;
}
.products{
	width: 100%;
	border: 1px solid #ddd;
	float:left;
	margin: 1.5em 0;
	padding: 0.7em 1em ;
}
.grid-chain-bottom {
	border-top: 1px solid #ddd;
}
.latest-product,.dolor-grid{
	float:left;
}
.view-all,a.get-cart{
	float:right;
	padding: 0.4em 0.6em;
	font-size: 1em;
}
a.view-all span{
	background: url(../images/arrow2.png)0px 0px;
	width: 15px;
	height: 14px;
	display:inline-block;
}
a.view-all{
	text-decoration: none;
	font-size: 1em;
	color:#323a45;
	font-weight:700;
}
a.all-product{
	float:left;
}
h5.latest-product{
	margin: 6px 0 0;
	font-size: 1.3em;
	color: #323a45;
	font-weight: 700;
}
.grid-chain-bottom h6{
	margin: 0;
	font-size: 1.3em;
	color: #000;
	font-weight: 700;
	padding: 0.8em 0.5em 0;
}
.chain-grid{
	border: 1px solid #ddd;
	position: relative;
	float:left;
	width: 30.7%;
	margin: 0 31px 0 0;
}
.menu-chain{
	width:100%;
	margin: 2em 0;
}
.sed-left-top,.grid-top-chain{
	margin: 0;
}
.star-price {
	padding: 1em 0.5em;
}
.chain{
	margin: 0 auto;
	padding: 3em 0;
}
.chain-grid span.star{
	background: url(../images/img-sprite.png)-208px -14px;
	width: 52px;
	height: 52px;
	display: block;
	position: absolute;
	top: 2%;
	right: 2%;
}
span.reducedfrom {
	color: #555;
	text-decoration: line-through;
	margin-right: 0%;
	font-size:1.1em; 
}
span.actual {
	font-weight: 500; 
	color:#01AFD1;
    font-weight: 700; 
    font-size:1.2em;
}
span.dolor-left-grid{
	font-size: 1.7em;
}
.chain-watch h6{
	padding: 0;
}
.chain-watch {
	padding: 1em ;
}
.rating {
     overflow: hidden;
     display:block;
   	 position:relative;
}
.rating-input {
     position: absolute;
     left: 0;
     top: -50px;
}
.rating-star {
	display: block;
 	width: 20px;
	height: 17px;
    background: url(../images/star.png) 0px 0px;
    float:left;
}
.rating-star:hover {
   background: url(../images/star.png) 0 -18px;          
}
.rating-star1 {
    display: block;
	width: 20px;
	height: 17px;
	background: url(../images/a-star.png) 0 0px;
	float: left;
}
.rating-star1:hover {
   background: url(../images/a-star.png) 0 -20px;
}
/*--single--*/
.images_3_of_2 {
	display: block;
	float: left;
	margin: 0 3.6% 0 0;
	width: 36.2%;
}
.desc1 {
	display: block;
	float:left;
}
.span_3_of_2 {
	width: 54.2%;
	margin: 0 0em 0em 3em;	
}
.single_top {
	margin:3em 0;
}
ul.back{
	padding:0;
	list-style:none;
	margin-bottom:1em;
	border-bottom:1px solid rgb(208, 208, 208);
	padding-bottom:1em;
}
ul.back li{
	font-size:0.8125em;
	color:#999;
}
ul.back li a{
	color:#ffa687;
}
.span_3_of_2 h1{
	color:#4a4a4a;
	font-size:1.5em;
	font-weight:600;
}
ul.price_single{
	padding:0;
	list-style:none;
	margin: 1em 0;
}
ul.price_single li.head{
	float:left;
}
ul.price_single li.head h2{
	color: #fd926d;
	font-size: 2.5em;
	font-weight: bold;
}
ul.price_single li.head_desc{
	float:right;
	margin-top: 15px;
	width:42%;
}
ul.price_single li.head_desc a{
	font-size:0.8125em;
	color:#999;
	margin-right: 1em;
}
.toogle {
	margin-top: 4%;
}
p.m_text {
	color: #999;
	font-size: 1em;
	line-height:1.8em;
}
.single{
	padding:3% 0 0 0;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
	margin-top:10px;
	margin-bottom: 10px;
	max-width:150px;
	max-height:500px;
}
.grid-flex{
	margin:10px 0 20px 0;
}
.nbs-flexisel-item a {
	color: #999;
	font-size:0.8125em;
}
.nbs-flexisel-item a:hover{
	color:#555;
}
.nbs-flexisel-item p {
	color: #000;
	font-size: 0.85em;
	padding-top: 25px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:30px;
	height:30px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background: url(../images/img-sprite.png) no-repeat -446px -21px;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/img-sprite.png) no-repeat -477px -21px;
}
.span_3_of_2 p{
	font-size: 1.1em;
	width: 95%;
	margin: 0 0 3em;
	color: #999;
}
h3.m_3 {
	margin: 0 0 0.5em;
	font-size: 2em;
}
.etalage_zoom_area div {
    width:460px !important;
    height:500px !important;
}
/*----*/
.sky-form fieldset {
	display: inline-block;
	vertical-align: middle;
}
.sky-form .rating {
	margin-bottom: 4px;
	font-size: 15px;
	line-height: 27px;
	color: #404040;
}
.sky-form .rating:last-child {
	margin-bottom: 0;
}
.sky-form .rating input {
	position: absolute;
	left: -9999px;
}
.sky-form .rating label {
	display: block;
	float: right;
	height: 17px;
	margin-top: 5px;
	padding: 0 2px;
	font-size: 17px;
	line-height: 17px;
	cursor: pointer;
}
.icon-star:before {
  content: "\f005";
}
.icon-star-empty:before {
  content: "\f006";
}
.sky-form [class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.sky-form .radio input + i:after {
	background-color: #2da5da;	
}
.sky-form .checkbox input + i:after {
	color: #2da5da;
}
.sky-form .radio input:checked + i,
.sky-form .checkbox input:checked + i,
.sky-form .toggle input:checked + i {
	border-color: #2da5da;	
}
.sky-form .rating input:checked ~ label {
	color: #2da5da;	
}
.sky-form .radio:hover i
{
	border-color: #8dc9e5;
}
.sky-form .rating input + label:hover,
.sky-form .rating input + label:hover ~ label {
	color: #2da5da;
}
/*--single--*/
/*--product--*/
/*-- start w_content --*/
.women-product,.account_grid,.register,.single_top,.main{
	width: 70%;
	float: right;
}
.w_nav {
	float:right;
	color:#555555;
	font-size:0.8125em;
	padding:0.8em 0 0;
	list-style:none;
	margin: 0
}
.w_nav li{
	display: inline-block;
}
.w_nav li a{
	display: block;
	color:#555555;
	text-transform:capitalize;
}
.w_nav li a:hover{
	color: #00405d;
}
.grid-product{
	display:block;
	margin: 2% 0;
}
.product-grid h4 {
	font-size:16px;
	margin-top:5px;
}
.product-grid h4 a{
	text-transform:uppercase;
	color:#000000;
}
.product-grid p{
	font-size: 0.8125em;
	color:#777777;
	line-height: 1.5em;
	margin-bottom: 10px;
}
.content_box-grid {
	margin-top: 1em;
}
.product-grid{
	float: left;
	width: 33.333%;
}
.left-grid-view {
   overflow: hidden;
   position: relative;
   margin-bottom: 1em;
}
.left-grid-view .mask,.left-grid-view .content {
   position: absolute;
	overflow: hidden;
	top: 209px;
	left: 163px;
}
.grid-view-left img {
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   margin: 0 auto;
}
.grid-view-left .mask {
  -webkit-transform: translateX(-300px);
   -moz-transform: translateX(-300px);
   -o-transform: translateX(-300px);
   -ms-transform: translateX(-300px);
   transform: translateX(-300px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.grid-view-left:hover .mask {
   -webkit-transform: translateX(0px);
   -moz-transform: translateX(0px);
   -o-transform: translateX(0px);
   -ms-transform: translateX(0px);
   transform: translateX(0px);
}
.info {
   display: block;
	background: url(../images/label_new.png) no-repeat;
	text-indent: -9999px;
	width: 75px;
	height: 75px;
}
/*--product--*
/*--contact--*/
 .contact_right h3{
	font-size: 2em;
	color: #555;
	text-transform: uppercase;
	margin: 1em 0;
}
.map{
	width: 100%;
	height:350px;
	margin: 0 0 43px;
	border: none;
}
.address p {
	color: #333033;
	font-size: 1em;
	line-height: 20px;
	margin: 0 0 16px;
	font-style: normal;
	text-transform: uppercase;
}
.address dd {
	color: #aaa4ab;
	font-size: 1em;
	line-height: 20px;
	font-weight: 300;
}
.contact-form input[type="text"] {
	display: block;
	width:70%;
	padding: 10px;
	border: 1px solid #ddd;
	outline: none;
	margin: 1.5em 0;
	font-size: 1em;
	color: #999;
}
.contact-form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	outline: none;
	margin: 1.5em 0;
	font-size: 1em;
	color: #999;
	height:300px;
	resize: none;
}
.contact-form input[type="submit"] {
	padding: 10px 25px;
	color: #fff;
	background: #F97E76;
	font-size: 1.1em;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	float:right;
}
.contact-form input[type="submit"]:hover{
 	background:#01AFD1;
}
/*--login--*/
.login-left {
	padding: 0;
}
.login-left h3, .login-right h3 {
	color: #01AFD1;
	font-size: 1.1em;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 0.5em;
}
.login-left p, .login-right p {
	color: #555;
	display: block;
	font-size: 1.1em;
	margin: 0 0 1.5em 0;
	line-height: 1.8em;
	width: 95%;
}
.acount-btn {
	background:#01AFD1;
	color: #FFF;
	font-size: 0.9em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#01AFD1;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 1.5em 0;
}
.login-right span {
	color: #555;
	font-size:0.9em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.login-right input[type="text"] {
	border: 1px solid #DDDBDB;
	outline-color:#fb4d01;
	width: 96%;
	font-size:0.9em;
	padding:10px;
}
.login-right input[type="password"] {
	border: 1px solid #DDDBDB;
	outline-color:#fb4d01;
	width: 96%;
	font-size:0.9em;
	padding:10px;
}
.login-right input[type="submit"] {
	background:#01AFD1;
	color: #FFF;
	font-size: 1em;
	padding: 0.5em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
a.forgot {
	font-size: 0.8125em;
}
.account_grid {
	padding: 1em 4em 2em;
}
/*--register--*/
.register-top-grid h3, .register-bottom-grid h3 {
	color:#01AFD1;
	font-size: 1.3em;
	padding-bottom: 5px;
	margin: 0;
	font-weight:600;
	text-transform: uppercase;
}
.register-top-grid span, .register-bottom-grid span {
	color:#555;
	font-size: 0.9em;
	padding-top: 0.2em;
	display: block;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 85%;
	font-size: 1em;
	height: 30px;
}
.register-top-grid-alt input[type="submit"] {
	background:#323a45;
	color: #FFF;
	font-size:1em;
	padding: 0.8em 2em;
	margin: 10 0 0 0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.2em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	position: relative;
	font-size: 1em;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 1em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #E1DFDF;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but form input[type="submit"] {
	background:#01AFD1;
	color: #FFF;
	font-size:1em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-but input[type="submit"]:hover {
	background:#01AFD1;
}
.register-but a {
	background:#01AFD1;
	color: #FFF;
	font-size:1em;
	padding: 0.8em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.mation{
	padding: 1em 0;
}
.register {
	padding: 4em 0 2em;
}
.forminscri-titre {
	width:150px;
	padding:1px 0;
	float:left;
}
.forminscri-line { 
	width:500px;
	padding:1px 0;
	margin-right:155px;
	float:right;
}
/*--footer--*/
.footer-top{
	background: #F5F5F5;
	margin: 3em 0 0;
	border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.latter{
	float:left;
	width:65%;
}
.latter h6{
	margin: 0.9em 1em 0 0;
	font-size: 1.7em;
	color: #000;
	float:left;
	width: 36%;
}
.latter-right{
	float:right;
}
.latter-right p{
	font-size: 1.4em;
	color: #000;
	margin: 1.1em 1em;
	float: left;
}
ul.face-in-to{
	float:left;
	padding:0;
	margin:0;
}
ul.face-in-to li {
	display:inline-block;
	float:left;
}
ul.face-in-to li a span{
	background: url(../images/img-sprite.png) -281px 0px;
	width: 69px;
	height: 71px;
	display: block;
}
ul.face-in-to li a span.facebook-in{
	background-position:-350px 0px;
}
.latter input[type="text"] {
	border: 1px solid #ddd;
	outline: none;
	background: #fff;
	font-size:1em;
	color:#777;
	width:61%;
	padding:8px;
	margin:0;
}
.latter input[type="submit"] {
	outline: none;
	cursor: pointer;
	width: 35%;
	padding: 7px;
	background: #323a45;
	color: #fff;
	font-size:1.2em;
	font-weight: 700;
	border: none;
	position: absolute;
	left: 14.7em;
	top: 15px;
	-webkit-apperance:none;
}	
.sub-left-right{
	float: left;
	position: relative;
	width: 56%;
	padding: 1.1em 0;
}
.footer-bottom-cate{
	float: left;
	width: 25%;
}
.footer-bottom-cate h6{
	font-size: 1.4em;
	color: #323a45;
	margin: 0 0 0.5em;
	font-weight: 700;
}
.footer-bottom-cate ul{
	padding: 0;
	margin: 0;
}
.footer-bottom-cate ul li{
	list-style: none;
	padding: 0.5em 0;
}
.footer-bottom-cate ul li a {
	text-decoration:none;
	font-size: 1.1em;
	color: #999;
}
.footer-bottom-cate ul li a:hover{
	color:#01AFD1;
	padding-left: 5px;
}

.cate-bottom ul li  {
	font-size: 1.2em;
	color: #323a45;
	font-weight: 700;
}
.cate-bottom ul li{
	padding: 0em 0;
}
.cate-bottom ul li.phone {
	color:#01AFD1;
}
.cate-bottom ul li.phone {
	padding: 1em 0 1.5em;
}
.cate-bottom ul li p{
	color:#000;
	margin: 0;
	font-size:1.1em;
}
.cate-bottom ul li p a{
	color:#F97E76;
	font-size:1.1em;
	font-weight: 500;
}
.cate-bottom ul li p a:hover{
	padding:0;
}
.footer-bottom {
	padding: 2em 0 5em;
}